# Build artifacts
/build/
/out/

# XMake cache
/.xmake/

# IDE caches
.vs/
.idea/

# Generated reflection headers
engine/include/Bix/Generated/*.generated.h

# SDL runtime binaries downloaded locally
third_party/sdl3/lib/*
!third_party/sdl3/lib/.gitkeep
third_party/sdl3/bin/*
!third_party/sdl3/bin/.gitkeep

# Tools
/compile_commands.json
*.log
